<div class="header-div">
  <h2>Brought to you by:</h2>
  <h1 class="header"> Josh-ify</h1>
</div>
<div id="form">
  <h1>Search Your Favorite Band</h1>
  <form type="get" action="/artist-search">
    <input type="text" name="search" placeholder="Search some music!" />
    <button type="submit">Search</button>
  </form>
</div>