body {
  margin: 0;
  padding: 0;
  background-image: url("/images/spotify-background.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

a {
  font-size: 3rem;
  text-decoration: none;
  color: antiquewhite;
}

h1 {
  margin: 5px;
  color: rgb(255, 210, 7);
  font-size: 4rem;
  text-shadow: 5px 10px 5px rgb(0, 0, 0);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
label {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header-div {
  display: flex;
  align-items: center;
}

.header {
  color: rgb(2, 240, 2);
  font-size: 5em;
  margin: 5px 0px 20px 10px;
  background-color: black;
  padding: 10px;
}

#logout {
  position: absolute;
  top: 20;
  left: 20;
}
#form {
  width: 70%;
  height: 70%;
  background: rgba(0, 0, 0, 0.52);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form input {
  font-size: 2rem;
  background-color: rgb(250, 227, 196);
  border-radius: 10px;
  color: black;
  padding: 20px;
  margin: 10px;
  width: 400px;
}
button {
  margin: 10px;
  border-radius: 10px;
  font-size: 2rem;
  padding: 15px;
  background-color: rgb(255, 123, 0);
  color: white;
  transition: all ease-in-out 0.3s;
}
button:hover {
  background-color: rgb(255, 157, 0);
  box-shadow: 0 0 30px rgb(255, 157, 0);
  color: black;
}
#albums-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#albums-div {
  width: 17rem;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(172, 127, 3, 0.603);
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.albums {
  height: 10rem;
}

.artist-img {
  height: 60vh;
}

.album-link {
  text-decoration: none;
  color: azure;
  font-size: 3rem;
  background-color: rgb(255, 123, 0);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  transition: all ease-in-out 0.3s;
}

.album-link:hover {
  background-color: rgb(255, 157, 0);
  box-shadow: 0 0 30px rgb(255, 157, 0);
  color: black;
}

.track {
  background-color: rgba(0, 0, 0, 0.507);
  width: 70%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  color: rgb(255, 229, 115);
  text-shadow: 5px 10px 5px rgb(0, 0, 0);
}
.track h3 {
  width: 40%;
  margin-right: 10px;
  font-size: 1.5rem;
}
.track h5 {
  font-size: 1rem;
}
.preview-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.preview-div h5 {
  margin-right: 20px;
}
audio::-webkit-media-controls-panel {
  background-color: rgb(255, 174, 0);
}
